<div class="container">
      <div class="card-deck mb-3 text-center">

        <div class="card mb-4 box-shadow">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Resultado</h4>
          </div>
          <div class="card-body">
              <h1>Botellas <i class="fas fa-water"></i></h1>
              <h1>Días <i class="fas fa-birthday-cake"></i></h1>
              <h1>Domingos <i class="fas fa-calendar-alt"></i></h1>
          </div>
        </div>
     </div>
</div>
